Django==5.1
Pillow
psycopg2
djangorestframework
django-redis
celery[redis]
python-decouple
django-celery-results
django-debug-toolbar
hypothesis
waitress
whitenoise
sphinx
sphinx_rtd_theme
flake8