{% load static %}

<!-- Shopping Cart -->
<div class="shopping-cart" style="padding-bottom: 15px;padding-top: 15px;">
    <div class="container" style="width: 100%;">
        <div class="cart-list-head">
            <!-- Cart List Title -->
            <div class="cart-list-title d-md-block d-sm-none d-none">
                <div class="row text-center">
                    <div class="col-lg-5 col-md-4 col-12">
                        <p>Product Name</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <p>Quantity</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Subtotal</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Remove</p>
                    </div>
                </div>
            </div>
            <!-- End Cart List Title -->
            {% for cart in carts %}
            <!-- Cart Single List list -->
            <div class="cart-single-list">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-1 col-12 d-lg-block d-md-none">
                        <a href="{% url 'catalog:product' cart.product.slug %}"><img src="{{cart.product.image.url}}" alt="#"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <h5 class="product-name"><a href="{% url 'catalog:product' cart.product.slug %}">{{ cart.product.name }}</a></h5>
                        <p class="product-des d-lg-block d-md-none">
                            <span class="text-truncate">{{ cart.product.description }}</span>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm decrement"
                                        data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">
                                    {% csrf_token %}
                                    -</button>
                            </span>
                            <input type="text" class="form-control number" value="{{ cart.quantity }}"
                                   readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-sm increment"
                                        data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">
                                    {% csrf_token %}
                                    +</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12 text-center">
                        <p>${{ cart.products_price }}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12 text-center">
                        <a href="{% url 'cart:cart_remove' %}" data-cart-id="{{ cart.id }}" data-cart-quantity="{{ cart.quantity }}" class="remove-item remove-from-cart">
                            {% csrf_token %}<i class="lni lni-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single List list -->
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart total<span>${{ carts.total_price }}</span></li>
                                    <li>Shipping<span>Free</span></li>
                                </ul>
                                <div class="button">
                                    {% if carts and not order %}
                                    <a href="{% url "orders:create_order" %}" class="btn">Checkout</a>
                                    {% endif %}
                                    <a href="{% url 'catalog:index' 'all'%}" class="btn btn-alt">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->

{#<div class="card mb-3 text-bg-light shadow-lg">#}
{#    {% for cart in carts %}#}
{#    <div class="card-header">#}
{#        <h5 class="card-title">{{ cart.product.name }}</h5>#}
{#    </div>#}
{#    <ul class="list-group list-group-flush">#}
{#        <li class="list-group-item">#}
{#            <div class="row text-center">#}
{#                <div class="col p-0">#}
{#                    <div class="input-group">#}
{#                        <span class="input-group-btn">#}
{#                            <button type="button" class="btn btn-dark btn-sm decrement"#}
{#                                    data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">#}
{#                                {% csrf_token %}#}
{#                                -</button>#}
{#                        </span>#}
{#                        <input type="text" class="form-control number" value="{{ cart.quantity }}"#}
{#                               readonly>#}
{#                        <span class="input-group-btn">#}
{#                            <button type="button" class="btn btn-dark btn-sm increment"#}
{#                                    data-cart-id="{{ cart.id }}" data-cart-change-url="{% url 'cart:cart_change' %}">#}
{#                                {% csrf_token %}#}
{#                                +</button>#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col p-0">#}
{#                    <p>x {{ cart.product.sell_price }} = </p>#}
{#                </div>#}
{#                <div class="col p-0"><strong>{{ cart.products_price }} $</strong></div>#}
{#                <div class="col p-0">#}
{#                    <a href="{% url 'cart:cart_remove' %}" class="remove-from-cart"#}
{#                       data-cart-id="{{ cart.id }}">#}
{#                        {% csrf_token %}#}
{#                        <img class="mx-1" src="{% static "deps/icons/trash3-fill.svg" %}"#}
{#                             alt="Catalog Icon" width="16" height="16">#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </li>#}
{#    </ul>#}
{#    {% endfor %}#}
{#</div>#}
{#<div class="card mb-3 shadow-lg">#}
{#    <div class="card-footer">#}
{#        <p class="float-left">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>#}
{#        <h4 class="float-left"><strong>{{ carts.total_price }} $</strong></h4>#}
{#    </div>#}
{#</div>#}
{#{% if carts and not order %}#}
{#<a class="btn btn-dark" href="{% url 'orders:create_order' %}">#}
{#    Оформить заказ#}
{#</a>#}
{#{% endif %}#}