{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <!-- Start Account Login Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <form class="card login-form" action="{% url 'user:login' %}" method="post">
                        {% csrf_token %}
                        {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="title">
                                <h3>Log in Now</h3>
                                <p>You can log in using your social media account or account username.</p>
                            </div>
                            <div class="social-login">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12"><a class="btn facebook-btn"
                                            href="javascript:void(0)"><i class="lni lni-facebook-filled"></i> Facebook</a></div>
                                    <div class="col-lg-4 col-md-4 col-12"><a class="btn twitter-btn"
                                            href="javascript:void(0)"><i class="lni lni-twitter-original"></i> Twitter</a></div>
                                    <div class="col-lg-4 col-md-4 col-12"><a class="btn google-btn"
                                            href="javascript:void(0)"><i class="lni lni-google"></i> Google</a>
                                    </div>
                                </div>
                            </div>
                            <div class="alt-option">
                                <span>Or</span>
                            </div>
                            {% if form.non_field_errors  %}
                                <div class="alert alert-danger alert-dismissible fade show">{{ form.non_field_errors }}</div>
                            {% endif %}
                            <div class="form-group input-group">
                                <label for="id-username">Username</label>
                                <input class="form-control" type="text" id="id-username" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>
                            </div>

                            <div class="form-group input-group">
                                <label for="id-password">Password</label>
                                <input class="form-control" type="password" id="id-password" name="password" required>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between bottom-content">
                                <a class="lost-pass" href="javascript:void(0)">Forgot password?</a>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Sign in</button>
                            </div>
                            <p class="outer-link">Don't have an account? <a href="{% url 'user:registration' %}">Register here </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Login Area -->
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}