{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="faq">
    <div class="container rounded pt-5 faq" style="padding-bottom: 0;">
        <form class="row" action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.image %}
                    <img style="object-fit: cover;" class="rounded-circle mt-5" width="150px" height="150px" src="{{ user.image.url }}" alt="Profile picture">
                    {% else %}
                    <img class="rounded-circle mt-5" width="150px" src="{% static "deps/images/baseavatar.jpg" %}" alt="Profile picture">
                    {% endif %}
                    <input type="file" class="form-control mt-3 w-75" id="id_image" name="image" accept="image/*">
                    {% if form.image.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                    {% endif %}
                    <span> </span></div>
            </div>
            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control"
                            id="id_first_name" name="first_name" placeholder="Enter first name" value="{{ form.first_name.value }}" required>
                            {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control"
                            id="id_last_name" name="last_name" placeholder="Enter last name" value="{{ form.last_name.value }}" required>
                            {% if form.last_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control"
                            id="id_username" name="username" placeholder="Enter username" value="{{ form.username.value }}" required>
                            {% if form.username.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="col-md-12 mt-3"><label class="labels">Email</label><input type="text" class="form-control"
                            id="id_email" name="email" placeholder="Enter email" value="{{ form.email.value }}" required>
                            {% if form.email.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </div>
            </div>
        </form>
    </div>
    <!-- Start Faq Area -->
    <section class="faq section" style="padding-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Your orders</h2>
                        {% if not orders %}
                        <p class="text-danger">You don't have any orders yet.</p>
                        {% endif %}
                    </div>
                    <div class="container">
                        <div class="accordion" id="accordionExample">
                            {% for order in orders %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ order.id }}">
                                    <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                        Order ID - {{ order.id }} | {{ order.created_timestamp }} | Status: <strong class="mx-2">{{order.status}}</strong>
                                    </button>
                                </h2>
                                <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th class="d-sm-table-cell d-none">Price</th>
                                                    <th class="d-sm-table-cell d-none">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order.orderitem_set.all %}
                                                <tr>
                                                    <td><a class="text-black" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td class="d-sm-table-cell d-none">{{ item.price }}</td>
                                                    <td class="d-sm-table-cell d-none">{{ item.products_price }}</td>

                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Faq Area -->
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}