{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <!-- Start Account Register Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <div class="register-form">
                        <div class="title">
                            <h3>No Account? Register</h3>
                            <p>Registration takes less than a minute but gives you full control over your orders.</p>
                        </div>
                        <form class="row" action="{% url "user:registration" %}" method="post">
                            {% csrf_token %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_first_name">First Name</label>
                                    <input class="form-control" type="text" id="id_first_name"
                                        value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                        name="first_name" required>
                                    {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_last_name">Last Name</label>
                                    <input class="form-control" type="text" id="id_last_name"
                                        value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                        name="last_name" required>
                                    {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input class="form-control" type="text" id="id_username"
                                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                        name="username" required>
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_email">E-mail Address</label>
                                    <input class="form-control" type="email" id="id_email"
                                        value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                        name="email" required>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_password1">Password</label>
                                    <input class="form-control" type="password" id="id_password1"
                                        value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                        name="password1" required>
                                    {% if form.password1.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_password2">Confirm Password</label>
                                    <input class="form-control" type="password" id="id_password2"
                                        value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                        name="password2" required>
                                    {% if form.password2.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Register</button>
                            </div>
                            <p class="outer-link">Already have an account? <a href="{% url 'user:login' %}">Login Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Register Area -->
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}