{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ElectroVibe - {{title}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.svg' %}" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    {% block header %}
    {% endblock %}
    <!-- End Header Area -->

    <!-- Start Content Area -->
    {% block content %}
    {% endblock %}
    <!-- End Content Area -->

    <!-- Start Footer Area -->
    {% block footer %}
    {% endblock %}
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>