{% extends "base.html" %}
{% load static %}
{% load cache %}
{% load goods_tags %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <!-- Start Hero Area -->
    <section style="padding-bottom: 15px;" class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url('{% static 'assets/images/hero/2.jpg' %}');">
                                <div class="content">
                                    <h2><span>No restocking fee ($15 savings)</span>
                                        {{ hero1.name }}
                                    </h2>
                                    <p style="display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;">{{ hero1.description }}</p>
                                    <h3><span>Now Only</span> ${{ hero1.sell_price }}</h3>
                                    <div class="button">
                                        <a href="{% url 'catalog:product' hero1.slug %}" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url('{% static 'assets/images/hero/3.jpg' %}');">
                                <div class="content">
                                    <h2><span>Big Sale Offer</span>
                                        {{ hero2.name }}
                                    </h2>
                                    <p style="display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;">{{ hero2.description }}</p>
                                    <h3><span>Combo Only:</span> ${{ hero2.sell_price }}</h3>
                                    <div class="button">
                                        <a href="{% url 'catalog:product' hero2.slug %}" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                style="background-image: url('{% static 'assets/images/hero/1.jpg' %}');">
                                <div class="content">
                                    <h2>
                                        <span>New line required</span>
                                        <a href="{% url 'catalog:product' hero3.slug %}">{{ hero3.name }}</a>
                                    </h2>
                                    <h3>${{ hero3.sell_price }}</h3>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>Weekly Sale!</h2>
                                    <p>Saving up to 50% off all online store items this week.</p>
                                    <div class="button">
                                        <a class="btn" href="{% url 'goods:index' 'all' %}">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Brands Area -->
    <section class="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <h2 class="title">Popular Brands</h2>
                </div>
            </div>
            <div class="brands-logo-wrapper">
                <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 1.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 2.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 3.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 4.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 5.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 6.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 4.webp' %}" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/brands/Brands 2.webp' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Brands Area -->

    <!-- Start Special Offer -->
    <section class="special-offer section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Special Offers</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="row">
                        {% for product in special1 %}
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-image">
                                    <img width="250" height="250" style="object-fit: contain;" src="{{ product.image.url }}" alt="#">
                                    <div class="button">
                                        <a href="{% url 'cart:cart_add' %}" class="btn add-to-cart"
                                            data-product-id="{{ product.id }}">
                                            {% csrf_token %}
                                            <i class="lni lni-cart"></i>Add to Cart</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <span class="category">{{ product.category }}</span>
                                    <h4 class="title">
                                        <a href="{% url 'catalog:product' product.slug %}">{{ product.name }}</a>
                                    </h4>
                                    <div class="price">
                                        <span>${{ product.sell_price }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Start Banner -->
                    <div class="single-banner right"
                        style="background-image:url('{% static 'assets/images/products/Offer.jpg' %}');margin-top: 30px;">
                        <div class="content">
                            <h2>{{ special3.name }}</h2>
                            <p>High performance and smooth operations.<br>Intel Core i5 1235U processor.</p>
                            <div class="price">
                                <span>${{ special3.sell_price }}</span>
                            </div>
                            <div class="button">
                                <a href="{% url 'catalog:product' special3.slug %}" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Banner -->
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="offer-content">
                        <div class="image">
                            <img src="{{ special2.image.url }}" alt="#">
                            <span class="sale-tag">-{{ special2.discount }}%</span>
                        </div>
                        <div class="text">
                            <h2><a href="{% url 'catalog:product' special2.slug %}">{{ special2.name }}</a></h2>
                            <div class="price">
                                <span>${{ special2.sell_price }}</span>
                                <span class="discount-price">${{ special2.price }}</span>
                            </div>
                            <p style="display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                                overflow: hidden;">{{ special2.description }}</p>
                        </div>
                        <div class="box-head">
                            <div class="box">
                                <h1 id="days">000</h1>
                                <h2 id="daystxt">Days</h2>
                            </div>
                            <div class="box">
                                <h1 id="hours">00</h1>
                                <h2 id="hourstxt">Hours</h2>
                            </div>
                            <div class="box">
                                <h1 id="minutes">00</h1>
                                <h2 id="minutestxt">Minutes</h2>
                            </div>
                            <div class="box">
                                <h1 id="seconds">00</h1>
                                <h2 id="secondstxt">Secondes</h2>
                            </div>
                        </div>
                        <div style="background: rgb(204, 24, 24);" class="alert">
                            <h1 style="padding: 50px 80px;color: white;">We are sorry, Event ended ! </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Special Offer -->

    <!-- Start Banner Area -->
    <section class="banner section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mb-4">
                    <div class="single-banner custom-responsive-margin"
                        style="background-image:url('{% static 'assets/images/products/banner2.webp' %}')">
                        <div class="content">
                            <h2>Smart Headphone</h2>
                            <p>Lorem ipsum dolor sit amet, <br>eiusmod tempor
                                incididunt ut labore.</p>
                            <div class="button">
                                <a href="{% url 'catalog:product' 'jbl-synchros-e50bt' %}" class="btn">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner" style="background-image:url('{% static 'assets/images/products/banner1.webp' %}')">
                        <div class="content">
                            <h2>Smart Watch 2.0</h2>
                            <p>Space Gray Aluminum Case with <br>Black/Volt Real Sport Band </p>
                            <div class="button">
                                <a href="{% url 'goods:index' 'smart-watches' %}" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start Shipping Info -->
    <section class="shipping-info">
        <div class="container">
            <ul>
                <!-- Free Shipping -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-delivery"></i>
                    </div>
                    <div class="media-body">
                        <h5>Free Shipping</h5>
                        <span>On order over $99</span>
                    </div>
                </li>
                <!-- Money Return -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="media-body">
                        <h5>24/7 Support.</h5>
                        <span>Live Chat Or Call.</span>
                    </div>
                </li>
                <!-- Support 24/7 -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-credit-cards"></i>
                    </div>
                    <div class="media-body">
                        <h5>Online Payment.</h5>
                        <span>Secure Payment Services.</span>
                    </div>
                </li>
                <!-- Safe Payment -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="media-body">
                        <h5>Easy Return.</h5>
                        <span>Hassle Free Shopping.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- End Shipping Info -->

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        //========= Hero Slider
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });

    </script>
    <script>
        const finaleDate = new Date("October 15, 2024 00:00:00").getTime();

        const timer = () => {
            const now = new Date().getTime();
            let diff = finaleDate - now;
            if (diff < 0) {
                document.querySelector('.alert').style.display = 'block';
                document.querySelector('.container').style.display = 'none';
            }

            let days = Math.floor(diff / (1000 * 60 * 60 * 24));
            let hours = Math.floor(diff % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
            let minutes = Math.floor(diff % (1000 * 60 * 60) / (1000 * 60));
            let seconds = Math.floor(diff % (1000 * 60) / 1000);

            days <= 99 ? days = `0${days}` : days;
            days <= 9 ? days = `00${days}` : days;
            hours <= 9 ? hours = `0${hours}` : hours;
            minutes <= 9 ? minutes = `0${minutes}` : minutes;
            seconds <= 9 ? seconds = `0${seconds}` : seconds;

            document.querySelector('#days').textContent = days;
            document.querySelector('#hours').textContent = hours;
            document.querySelector('#minutes').textContent = minutes;
            document.querySelector('#seconds').textContent = seconds;

        }
        timer();
        setInterval(timer, 1000);
    </script>
{% endblock %}